@media only screen and (orientation: landscape) {
  .memory-grid {
    height: 40vw;
    grid-gap: 0.5vw;
  }
}
@media only screen and (orientation: portrait) {
  .memory-grid {
    height: 98vw;
    grid-gap: 1vw;
  }
}
.memory-grid {
  margin-top: 1vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}
